.scroll__text {
    position: relative;
    display: inline-block;
    top: 0;
    bottom: auto;
    width: 280px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#sections {
    position: relative;
    display: inline-block;
    width: 300px;
    top: 0;
    z-index: 1
}

.step {
    margin-bottom: 200px;
    opacity: 0.5;
    padding: 1rem;
}

.step.is-active {
    opacity: 1;
}


#sections .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #8cbeed
}

#sections .pening {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 2px;
    color: #8cbeed;
    opacity: 1;
}


.container {
    position: relative;
    width: 890px;
}

.scroll__graphic {
    position: fixed;
    display: inline-block;
    margin-left: 0;
    left: 550px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
    position: sticky;
}

.scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
}


.chart {
    display: inline-block;
    position: sticky;
    width: 100%;
    left: 60%;
    z-index: 0;
    vertical-align: right;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.towns:hover {
    fill: yellow;
}

#tooltip {
    width: 240px;
    color: #FFFFFF;
    font-size: 15px;
    text-shadow: 0px 0px 1px #000000;
    background: #575757;
    height: 50px;
    padding: 2px;
    line-height: 15px;
    text-align: left;
    border-radius: 6px;
}

#sliderContainer {
    text-align: center;
    position: relative;
    width: 250px;
    left: 380px;
    top: 600px;
}

#timeslide {
    width: 250px;
    float: left;
    opacity: 0;
}

#range {
    opacity: 0;
}

.legend {
    position: absolute;
    left: 800px;
}

.axis line {
    fill: none;
    stroke: #000000;
    shape-rendering: crispEdges;
}

/* .bar {
    z-index: -3;
}

.outline {
    z-index:-2
} */

text {
    font-size: 16px;
}

#plotcaption {
    font-size: 14px;
}

.plotdiv {
    font-size: 16px;
}

.bar {
    display: inline-block;
    position: absolute;
    top: 450px;
    left: 300px;
    width: 200px;
    height: 150px;
    background-color: #afeeea;
}

.outline {
    border-style: solid;
    position: absolute;
    top: 100px;
    left: 300px;
    width: 200px;
    height: 500px;
    stroke: rgb(37, 55, 63);
    background-color: rgba(0, 0, 0, 0);
}

.hline {
    border-top: 2px dashed red;
    position: absolute;
    left: 200px;
    top: 450px;
    height: 0px;
    width: 400px;
}

/* #vis {
    display: inline-block;
    position: fixed;
    top: 60px;
    z-index: 1;
    margin-left: 0;

    height: 600px;
    width: 600px;
    background-color: #ddd;
} */